/***  Colors  ***/


/* Gray Colors */

$color-gray-0: #f8f9f9;
$color-gray-1: #ebedee;
$color-gray-2: #dce1e2;
$color-gray-3: #ccd4d5;
$color-gray-4: #bbc5c7;
$color-gray-5: #a8b5b7;
$color-gray-6: #92a2a5;
$color-gray-7: #798c90;
$color-gray-8: #5a6f74;
$color-gray-9: #344144;

/* Cyan Colors */

$color-cyan-0: #e5f4f7;
$color-cyan-1: #c9e8ee;
$color-cyan-2: #a9dae4;
$color-cyan-3: #85cbd9;
$color-cyan-4: #59b8cc;
$color-cyan-5: #21a1bb;
$color-cyan-6: #1d91a8;
$color-cyan-7: #1a7f93;
$color-cyan-8: #15697a;
$color-cyan-9: #0f4b57;



/* Green Colors */

$color-green-0: #e5f7e8;
$color-green-1: #caeed0;
$color-green-2: #aae5b4;
$color-green-3: #86da94;
$color-green-4: #5acc6d;
$color-green-5: #21bb3b;
$color-green-6: #1da935;
$color-green-7: #1a942e;
$color-green-8: #157a26;
$color-green-9: #0f581b;



/* Teal Colors */

$color-teal-0: #e5f7f1;
$color-teal-1: #c8eee1;
$color-teal-2: #a8e4d0;
$color-teal-3: #84d9bd;
$color-teal-4: #58cca5;
$color-teal-5: #21bb88;
$color-teal-6: #1da97a;
$color-teal-7: #1a946b;
$color-teal-8: #157a59;
$color-teal-9: #0f5840;



/* Misc Colors */

$black: #000;
$white: #fff;
$color-beige-1: #F4F2F2;
$color-background: $white;
$color-heading: $color-cyan-9;;

/* Header Colors */


/* MegaMenu Colors */

$color-megamenu-hover: $color-cyan-9;
$color-background-megamenu: linear-gradient(180deg, $color-cyan-5 0%, $color-cyan-7 100%);
$color-megamenu-line: $color-cyan-4;
$color-mobile-header: $color-cyan-7;


/* Footer Colors */
$color-footer-brand: $color-gray-8;
$color-footer-heading: $color-gray-7;
$color-footer-text: $color-gray-7;

/* Article */
$color-article-author: $color-gray-8;
$color-article-body: $color-gray-9;

$color-primary: $color-cyan-5;
$color-secondary: $color-cyan-9;


/** fonts **/

$font-family: 'Inter';
$font-ibm: 'IBM Plex Serif';


$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;