/* stylelint-disable selector-max-type */

@import 'resources/helpers/*';
@import 'base/*';
@import 'layout/*';
@import 'page/*';
@import 'components/*';

body {
  background-color: color($colors, sky);
}

h1 {
  font-size: 48px;
  color: color($colors, sexy);
  font-family: Inter, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
