@import 'resources/helpers/*';
@import 'base/*';
@import 'layout/*';
@import 'page/*';
@import 'components/*';
body {
  background-color: color($lightTheme, color);
}

h1 {
  font-size: 48px;
  color: color($mainColors, primary);
  @include font-family('Inter');
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;;
}